<div class="small-12 column">
  <h1>De lampen in het echt bekijken of naar een inloopavond voor meer informatie?</h1>

  <h3>Ferwert (Noardeast-Fryslân)</h3>
  <p>Inloopavond maandag 19 juni tussen 20.00 en 22.00 uur. In de tent bij Cafetaria ’t Hoekje.</p>
  <iframe src="https://www.google.com/maps/d/embed?mid=1_Y3Cv7fWhs7pUF9baEra77kpO77Kbl0&ehbc=2E312F" width="100%" height="480"></iframe>

  <h3>Kollum (Noardeast-Fryslân)</h3>
  <p>Inloopavond dinsdag 20 juni tussen 20.00 en 22.00 uur. In de tent op de parkeerplaats bij de Jumbo.</p>
  <iframe src="https://www.google.com/maps/d/embed?mid=1t5ZpiuZaNeOkBksho0E2msCjhhNDlC0&ehbc=2E312F" width="100%" height="480"></iframe>

  <h3>Dokkum (Noardeast-Fryslân) (J. Droststraat)</h3>
  <p>Inloopavond woensdag 21 juni tussen 20.00 en 22.00 uur. In de tent op het grasveld aan de J. Droststraat.</p>
  <iframe src="https://www.google.com/maps/d/embed?mid=19abpgQVCfAPWLMWz-SkqaWw08eieh04&ehbc=2E312F" width="100%" height="480"></iframe>
</div>
